{{#if post}}
<div class="card">
    <div class="card-body">
        <h1>{{post.titulo}}</h1>
        <small>{{post.categoria}}</small>
        <hr>
        <p>{{post.texto}}</p>
        <br><br>
        <small>{{post.criadoEm}}</small>
    </div>
</div>
{{/if}}


